/* ----- ajusta a foto, tira a borda cinza e deixa maior ---- */
#chat .badge-box i, .right-side-wrapper #chat .badge-box .icon-arrow-down {
    transform: scale(1) !important;}

/* ZOOM */


/* DiamonD S2 */
 #chat-messages .id-48655954 .badge-box:hover ,
/* Draquinho */
 #chat-messages .id-37756844 .badge-box:hover ,
 #chat-messages .id-00000000 .badge-box:hover {
     width: 65px;
     height: 65px;
     transition: 0.5s;
}

 /* FOTOS */
 
 
/* Diamond S2 */
 #chat-messages .id-48655954 .badge-box i.bdg, .id-48655954 .no-badge i {
     background-image: url("https://studiosol-a.akamaihd.net/uploadfile/letras/fotos/0/9/8/9/0989dda17670a2989306e51e32764792.jpg");
     background-size: cover;
     width: 100%;
     height: 100%;
     background-position: initial;
     position: absolute;
     top: 0px;
     left: 0px;
     border: 0px solid #444A59;
     border-radius: 0;
     background-size: cover;
     width: 100%;
     height: 100%;
     background-position: initial;
}
/* Draquinho */
 #chat-messages .id-37756844 .badge-box i.bdg, .id-37756844 .no-badge i {
     background-image: url("https://cdn.discordapp.com/attachments/563042010106298368/665056742639534080/fd567829dea241dd28a1aa71b6279484.gif");
     background-size: cover;
     width: 100%;
     height: 100%;
     background-position: initial;
     position: absolute;
     top: 0px;
     left: 0px;
     border: 0px solid #444A59;
     border-radius: 0;
     background-size: cover;
     width: 100%;
     height: 100%;
     background-position: initial;
}
/* nome-padrao */
 #chat-messages .id-00000000 .badge-box i.bdg {
     background-image: url(#gravatar-padrao);
     background-size: cover;
     width: 100%;
     height: 100%;
     background-position: initial;
}
 
 
 
 
